{% extends 'skinscan/base.html' %}
{% load static %}

{% block content %}

<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Easy way to control your health</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Check your skin in 3 simple steps right now</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">SkinScan - is AI powered tool for your skin control!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">In order to help you with keeping your body healthy we are using latest Deep Learning technics.
              All you need - is to make a photo with good quality and upload it on server
              <b>Note: this tools is not a replacement for medical examination!</b>
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#examples">Get Started!</a>
          </div>
        </div>
      </div>
    </section>
	
	<section class="p-0" id="examples" style="margin-top: 50px;">
	<div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Step 1 - Check photo examples and try to make the same</h2>
            <hr class="my-4">
          </div>
        </div>
		
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery justify-content-center">
          <div class="col-sm-4 col-lg-2">
            <a class="examples-box" href="{% static 'skinscan/nevus1.jpeg' %}">
              <img class="img-fluid" src="{% static 'skinscan/nevus1.jpeg' %}" alt="">
              <div class="examples-box-caption">
                <div class="examples-box-caption-content">
                  <div class="project-category text-faded">
                    Simple Nevus
                  </div>

                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-lg-2">
            <a class="examples-box" href="{% static 'skinscan/nevus2.jpeg' %}">
              <img class="img-fluid" src="{% static 'skinscan/nevus2.jpeg' %}" alt="">
              <div class="examples-box-caption">
                <div class="examples-box-caption-content">
                  <div class="project-category text-faded">
                    Melanoma
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 col-lg-2">
            <a class="examples-box" href="{% static 'skinscan/nevus3.jpeg' %}">
              <img class="img-fluid" src="{% static 'skinscan/nevus3.jpeg' %}" alt="">
              <div class="examples-box-caption">
                <div class="examples-box-caption-content">
                  <div class="project-category text-faded">
                    Simple Nevus
                  </div>
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Step 2 - Select the photo you've just did</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <form class="form-inline" enctype="multipart/form-data" method="POST" id="frmUploadFile">
		  <div class="form-group align-items-center">
			<div class="custom-file">
			  <input type="file" class="custom-file-input" id="inpPhotoFile" accept="image/jpeg">
			  <label class="custom-file-label" for="inpPhotoFile">Select photo</label>
			</div>
		  </div>
		  </form>
        </div>
      </div>
    </section>

    

    <section class="bg-dark text-white" style="margin-top: 15px;background-color: #f05f40!important;" id="upload">
      <div class="container text-center">
        <h2 class="mb-4">Step 3 - press 'Upload' and get the result!</h2>
        <a class="btn btn-light btn-xl sr-button" href="#result" id="btnUpload">Upload!</a>
      </div>
    </section>
	
	
	 <section id="result" style="display:none;">
	 <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Test result</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
		<div class="row justify-content-center">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start" id="divResults">
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" id="imgPreview" src="{% static 'skinscan/nevus1.jpeg' %}" alt="Thumbnail [200x250]"  data-holder-rendered="true" style="width: 200px; height: 200px;">
          </div>

		</div>

        
      </div>
    </section>

  <section class="bg-primary" id="details">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">How does it work?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">We are using convolution neural network with architecture Inception V3 arhcitecture.
              This network is trained on 10000 images dataset from different resources.
              It makes visual analysis for nevus photo and comparing it with existing database
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#examples">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">

          <form method="post">
            {% csrf_token %}
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
			<textarea class="form-control" id="tbFeedback" rows="3"></textarea>
			<a class="btn btn-primary btn-xl js-scroll-trigger" href=""   style="margin:15px;" id="btnSaveFeedback">Save feedback</a>

            <div id="pnlFeedbackResult">
            </div>


            <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
            </form>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>+38097-607-5903</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">gunkooleksii@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}